html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#597cbc , #16559d);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    padding: 25px;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 8px;
}

#text{
    width: 300px;
    height: 50px;
    font-size: 25px;
    text-align: right;
	align-items: center;
    border-radius: 10px;
}


#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 25px;
	color: #ffffff;
}


#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
    color: rgb(211, 167, 109);
}

#output-value{
    font-size: 50px;
}

.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number {
	background-color: #eaedef;
}

.empty{

    background: rgba(0, 0, 0, 0);
    /* box-shadow: 0 15px 2 5px rgba(0,0,0,.6); */
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
/* .operator:focus, .number:focus, .empty:focus{
	outline: 0;
} */
button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(5){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(9){
	font-size: 20px;
	background-color: #f08080;
}
button:nth-child(13){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(17){
	font-size: 20px;
	background-color: #9477af;
}
button:nth-child(21){
	font-size: 20px;
	background-color: #6bd027;
}


#output-value{
	background: rgba(0,0,0,.5);
	width: 300px;
	border-radius: 5px;
}